@mixin box-shadow($vertical, $horizontal, $blur, $color, $inset:"") {
    -webkit-box-shadow: $vertical $horizontal $blur $color #{$inset};
    -moz-box-shadow: $vertical $horizontal $blur $color #{$inset};
    box-shadow: $vertical $horizontal $blur $color #{$inset};
}


@mixin transition($property, $duration, $timing-function, $delay) {
    -webkit-transition: $property $duration $timing-function $delay;
    -moz-transition: $property $duration $timing-function $delay;
    -o-transition: $property $duration $timing-function $delay;
    transition: $property $duration $timing-function $delay;
}
