/*  ======================================================
    SECTION CONTACT STYLES
    ====================================================== */
#section-contact {
    // Form
        #contact-form {
            input, textarea {
                color: $black;
                padding: 3px 5px;
                margin-bottom: 10px;
                width: 100%;
            }

            textarea {
                width: 100%;
                height: 100px;
                resize: none;

                @media screen and (min-height: 650px) {
                    height: 150px;
                }

                @media screen and (min-height: 720px) {
                    height: 200px;
                }

                // Fix for iPhone
                @media screen and (max-width: 768px) {
                    height: 50px;
                }
            }

            button {
                background-color: $secondary-color;
                color: $white;

            }

            .form-alert {
                display: none;
                margin-left: 20px;
                padding: 8px 12px;
            }
        }

        // Image Column
        .contact-text {
            text-align: center;

            .contact-text-heading {
                text-align: center;
                font-family: $main-font;
                margin: 50px auto 20px auto;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .contact-link {
            .contact-img {
                display: block;
                margin: auto;
            }
        }
}
