/*  ======================================================
    SECTION PORTFOLIO STYLES
    ====================================================== */
#section-portfolio {
    color: $darker-color;

    #web-portfolio {
        margin-bottom: 5%;
    }

    .portfolio-item {
        width: 120px;
        height: 120px;
    }
}
