//  ======================================================
//  COLORS
//  ======================================================
$light-color:       #E4F1FE;
$dark-color:        #2C3E50;
$darker-color:      #22313F;

$light-gray:        #eee;
$white:             #ffffff;
$black:             #000000;


$primary-color:     #4183D7;
$secondary-color:   #446CB3;

//  ======================================================
//  TYPOGRAPHY
//  ======================================================
$logo-font:            'Raleway', sans-serif;
$heading-fonts:        'Lato', sans-serif;
$main-font:            'Open Sans', sans-serif;

//  ======================================================
//  THUMBNAILS
//  ======================================================
